{% extends 'base.html.twig' %}
{% block title %}All categories
{% endblock %}

{% block body %}
	<h1>Toutes les categories de la table category :
	</h1>
	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}/<a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a>
				{#categoryName es el nombre de la ruta#}
			</h2>
			{# <a href="{{ path('category_index') }}">Retourner à la liste de categories</a> #}
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
