{% extends 'base.html.twig' %}

{% block title %}Saison
	{{ season.number }}
	de
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">Saison
				{{ season.number }}
				de
				{{ program.title }}</h1>
			<p>{{ season.description }}</p>
			<p>Liste d'épisodes</p>
			{# Affichage de la liste de saison par rapport à la série #}
			<ul>
				{% for episode in season.episodes %}
					<li>
						<a href="{{ path('program_episode_show', { program: program.id , season: season.id, episode: episode.id }) }}">
							<p>Épisode
								{{ episode.number }}:
								{{ episode.title }}
							</p>
						</a>

					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path('program_index') }}">Retour à la liste des séries</a>
	<br>
	<a href="{{ path('category_index') }}">Retour à la liste de categories</a>
{% endblock %}
