{% extends 'base.html.twig' %}

{% block title %}Saison
	{{ season.number }}
	de
	{{ program.title }}
{% endblock %}

{% block body %}
	<div
		class="media">
		{# <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"> #}
		<div class="media-body">
			<h1 class="mt-0">Saison
				{{ season.number }}
				de
				{{ program.title }}</h1>
			<img src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}">

			<p>{{ season.description }}</p>
			<p>Liste d'épisodes</p>
			{# Affichage de la liste de saison par rapport à la série #}
			<ul>
				{% for episode in season.episodes %}
					<li>
						<a href="{{ path('program_episode_show', { slug_program: program.slug , season: season.id, slug_episode: episode.slug }) }}">
							<p>Épisode
								{{ episode.number }}:
								{{ episode.title }}
							</p>
						</a>

					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path('program_index') }}">Retour à la liste des séries</a>
	<br>
	<a href="{{ path('category_index') }}">Retour à la liste de categories</a>
{% endblock %}
