{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div
		class="media">
		{# <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"> #}
		<div class="media-body">

			<h1 class="mt-0">Série
				{{ program.title }}
			</h1>
			<img class="uploaded-pic" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}">
			{# <img class="uploaded-pic" src="{{ vich_uploader_asset(program) }}" alt="{{ program.country }}"> #}

			<p>{{ program.synopsis }}</p>
			<p>Catégorie :{{ program.category.name }}</p>
			{# Affichage de la liste de saison par rapport à la série #}
			<ul>
				{% for season in program.seasons %}
					<li>
						{#modif a faire avec param converter#}
						<a href="{{ path("program_season_show", { slug_program: program.slug , season: season.id }) }}">
							Saison
							{{ season.number }}</a>
						{# Aquí sí que pongo la route en entier #}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<strong>Acteurs :</strong>
	<ul>
		{% for actor in program.actors %}
			<li>
				<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
			</li>
		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</ul>

	<a href="{{ path('program_index') }}">Retour à la liste des séries</a>
	<br>
	<a href="{{ path('category_index') }}">Retour à la liste de categories</a>
{% endblock %}
